/*======= index-1.html =======*/

#page2 .line-ver {background-position: 457px 0%;}
#page2 .col-1 {width: 414px; padding: 0 35px 0 0;}
#page2 .col-2 {width: 420px; padding: 0 0 0 26px;}

/*======= index-2.html =======*/

#page3 .line-ver {background-position: 547px 0%;}
#page3 .col-1 {width: 514px; padding: 0 35px 0 0;}
#page3 .col-2 {width: 320px; padding: 0 0 0 26px;}

/*======= index-3.html =======*/

#page4 .line-ver {background-position: 447px 0%;}
#page4 .col-1 {width: 414px; padding: 0 35px 0 0;}
#page4 .col-2 {width: 420px; padding: 0 0 0 26px;}

/*======= index-4.html =======*/

#page5 .line-ver {background-position: 447px 0%;}
#page5 .col-1 {width: 414px; padding: 0 35px 0 0;}
#page5 .col-2 {width: 420px; padding: 0 0 0 26px;}

/*======= index-5.html =======*/

#page6 .line-ver {background-position: 547px 0%;}
#page6 .col-1 {width: 514px; padding: 0 35px 0 0;}
#page6 .col-2 {width: 320px; padding: 0 0 0 26px;}

#page6 .col-1 .block-1 {width: 244px; padding: 0 26px 0 0;}
#page6 .col-1 .block-2 {width: 244px;}